@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Fira+Sans&family=Heebo:wght@500&display=swap');

html {
  /* background-color: rgb(78, 119, 216); */
  background-color: rgb(184, 184, 184);
  text-align: center;
}

p,
a {
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 60px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Libre Baskerville', serif;
  /* font-family: 'EB Garamond', serif; */
  text-align: center;
}

header p {
  text-align: center;
}

ul {
  font-family: 'PT Serif', serif;
  text-align: center;
}

h1,
h2,
h3,
p {
  color: #fff;
}

li {
  display: inline;
  padding: 1rem;
}

#intro {
  text-align: left;
}

a,
li {
  text-decoration: none;
}

a:visited,
li:visited {
  color: #304445;
}

header {
  background-color: #accace;
  border: solid 1px #d3d3d3;
  font-size: calc(12px + (21 - 16) * (100vw - 320px) / (1200 - 320));
  margin-bottom: 0;
  padding: 2rem;

}

.link {
  padding-top: 4rem;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  background-color: rgb(13, 29, 71);
  border: solid 1px #d3d3d3;
  font-size: calc(12px + (20 - 16) * (100vw - 320px) / (1200 - 320));
  margin: 1rem auto;
  padding: 1rem;
  width: 75%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea,
input[type=password] {
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 12px;
  resize: vertical;
  width: 80%;

}

label {
  font-weight: bold;
  margin: 2rem;
}

input[type=file] {
  padding-bottom: 2rem;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(13, 29, 71);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
}

.responsive {
  height: auto;
  max-width: 100%;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.login {
  padding: 2rem;
}

.wrapper {
  background-color: #f55951;
}

footer {
  background-color: #accace;
  border: solid 1px #d3d3d3;
  font-size: calc(8px + (20 - 16) * (100vw - 320px) / (1200 - 320));
  margin-bottom: 0;
  padding: 2rem;
}

footer h3 {
  color: rgb(93, 93, 93);
}


#store {
  background-color: #fff;
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem;
}

.link {
  color: #45a049;
}

#red {
  color: #f55951;
}

#blue {
  color: #0000ff;
}

.flex-container {
  display: flex;
  padding-bottom: 1rem;
}

#center {
  text-align: center;
}

.error {
  text-align: center;
}

#productForm {
  border: 3px solid #accace;
  text-align: center;
  padding: 4rem;
  color: #fff;
}

#update {
  text-decoration: underline;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 3rem;
}

#update:hover {
  text-decoration: underline;
  background-color: rgb(179, 179, 179);
  padding: 1.5rem;
  border-radius: 3rem;
}

#updatePost {

  padding: 1rem;
  /* border: red 1px solid; */
  height: 5rem;
  text-align: center;
}

#backStore {
  text-decoration: underline;
  color: rgb(122, 121, 121);
}

#store p {
  color: #000;
  text-align: left;
}

#search {
  height: 2.7rem;

}

.updateForm {
  color: #fff;
}

#success {
  color: #fff;
}

#adminUpdate {
  padding-bottom: 2rem;
}

#deleted {
  color: #000;
}

#sign-up {
  text-decoration: underline;
}

.white {
  color: #fff;
}

#nullId {
  color: #000;
}

@media screen and (max-width: 650px) {

  li {
    display: block;
    padding-bottom: .5rem;
  }

  #updatePost li {
    padding-bottom: 3rem;
  }

  #store {
    margin-top: 5rem;
    ;
  }
}
