@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Serif&display=swap');

html {
  background-color: rgb(78, 119, 216);
  /* text-align: center; */
}

p {
  font-family: 'PT Serif', serif;
}

h1, 
h2,
h3,
h4 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

header p {
  text-align: center;
}

ul {
  font-family: 'PT Serif', serif;
  text-align: center;
}


li {
  display: inline;
  padding: 1rem;
}

a,
li {
  text-decoration: none;
}

a:hover,
li:hover {
  background-color: #ccc;
  /* opacity: .65; */
  text-decoration: underline;
}

a:visited,
li:visited {
  color: #304445;
}

header {
  background-color: #accace;
  border: solid 1px #d3d3d3;
  font-size: calc(12px + (21 - 16) * (100vw - 320px) / (1200 - 320));
  padding: 2rem;
  margin-bottom: 0;
}

.link {
  padding-top: 4rem;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  background-color: rgb(213, 220, 238);
  border: solid 1px #d3d3d3;
  font-size: calc(12px + (20 - 16) * (100vw - 320px) / (1200 - 320));
  margin: 1rem auto;
  padding: 1rem;
  width: 75%;
}

.responsive {
  height: auto;
  width: 100%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea,
input[type=password] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 12px;
  resize: vertical;
  width: 80%;
}

label {
  margin: 2rem;
}
input[type=file] {
 padding-bottom: 2rem;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 12px 20px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  background-color: tan;
  border-radius: 5px;
  padding: 20px;
}

.login {
  padding: 2rem;
  ;
}

.wrapper {
  background-color: #f55951;
}

footer {
  background-color: #accace;
  border: solid 1px #d3d3d3;
  font-size: calc(8px + (20 - 16) * (100vw - 320px) / (1200 - 320));
  margin-bottom: 0;
  padding: 2rem;
}

@media screen and (max-width: 650px) {

  li {
    display: block;
    padding-bottom: .5rem;
  }
}

#store {
  background-color: #757171;
  padding-bottom: 2rem;
}

.link {
  color: #45a049;
}

#red {
  color: #f55951;
}

#blue {
  color: #0000ff;
}

.flex-container {
  display: flex;
  padding-bottom: 1rem;
}

/* .flex-container > div {
  background-color: #f1f1f1;
  margin: auto;
  padding: 10px;
  font-size: 30px;
} */

#center {
  text-align: center;
}

.error {
  text-align: center;
}

#productForm {
  border: 3px solid #accace;
  text-align: center;
  padding: 2rem;
}